<%include partials/header %>

<div class="container">
    <div class="">
        <div class="container title">
           <div class="row">
                <div class="col-lg-12">
                    <div>
                        <h1>Citizenbuild</h1>
                        <h5>Working together to build independence</h3>
                        <hr id="hrgreen">
                        <h4>
                            <a id="actionbutton" href="#getstarted">Get Started</a>
                        </h2>   
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="d-flex align-content-start flex-wrap">
        <div name="getstarted" id="getstarted" class="col-md-8">
            <div class="card">
                <!-- <img class="card-image-top img-fluid img-thumbnail" src="https://pixabay.com/get/57e1d5424f4fad00f5d89960c62d3e7c143fd6e25353_1920.jpg" alt="pic" style="min-height: 150px"> -->
                <div class="card-body">
                    <div class="card-title">
                        <!-- <h4>Pitch, design, fund and build anything, together in the open.</h4>    -->
                    </div>
                    <hr id="hrgreen">
                    
                    
                </div>
            </div>    
        </div>

        <div class="col-md-4">

        </div>
        <div class="col-md-12">
            <hr id="hrgreen">
        </div>
        <div class="col-md-4">
            
        </div>
        <div class="col-md-8">
            <div class="card ">
                <!-- <img class="card-image-top img-fluid img-thumbnail" src="https://pixabay.com/get/55e2dc474c5aad14f6d1867dda35367b1c3ddfe55a59754f_1920.jpg" alt="pic" style="min-height: 150px"> -->
                <div class="card-body">
                    <div class="card-title">
                        <!-- <h4>Unequivocally open</h4>    -->
                    </div>
                    <hr id="hrgreen">
                    
                </div>
            </div>    
        </div>
        <div class="col-md-12">
            <hr id="hrgreen">
        </div>

    </div>
</div>
<%include partials/footer %>